/**
This file set styles for the graphical user interface

It's easier than making it on the SceneBuilder
 */

.container{
    -fx-alignment: center;
    -fx-border-color: black;
}

.parentGridBlock{
    -fx-alignment: center;
    -fx-border-color: black;
}

.text-field{
    -fx-alignment: center;
    -fx-pref-width: 63px;
    -fx-pref-height: 63px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-color: darkGray;
}